
<div class="app-container">
  <!-- TODO: implement status -->
  <div class="main-content">
    <div class="hero-container" *ngIf="test.status === 'none'">
      <img src="../../../assets/gifs/feedback.gif" />

    </div>
    <app-testing-area *ngIf="test.status === 'ongoing'"></app-testing-area>
    <div class="result-container" *ngIf="test.status === 'complete'">
      <div class="result">
        <div class="score">
          <h1>{{test.score}}</h1>
        </div>
        <div class="paragraph" >
          <div class="shown-text">
            <p>{{test.text}}</p>
          </div>
          <div class="typed-text">
            <p>{{test.typed}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-navbar (countdownComplete)="calculateScore($event)"></app-navbar>
</div>
