.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content{
    text-align: center;
    height: 80vh;

    .hero-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      .welcome{
        height: 100%;
        margin: 30px;
        padding: 20px;
        padding-top: 5em;
        background-color: #000000;
        color: #fff;
        font-family: "Avenir Next",
                   "Helvetica Neue" !important;

         .title {
           font-size: 30px;
           font-weight: 600;
         }

         .subtitle {

           font-size: 15px;
           font-weight: 300;
         }

        .hero-features {
          display: flex;
          align-items: stretch;
          margin-top: 5em;
          .hero-use{
            flex-basis: 50%;
            h2{
              font-size: 20px;
              font-weight: 300;
            }

          }
          .hero-difficulty{
            flex-basis: 50%;
             h2 {
               font-size: 20px;
               font-weight: 300;
             }


          }

          .use-list, .difficulty-list {
            margin-top: 5em;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .icon{
              font-size: 34px;
              margin-bottom: 20px;
            }
            .feature-text{
              width: 120px;
              height: 90px;
              text-align: justify;
              margin-left:auto;
              margin-right: auto;
              font-size: 12px;
              font-weight: 200;
            }
          }



        }
      }


    }
    .result-container {
      height: 100%;
      text-align: center;

      .result {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 20px;

        .score {
          width: 50%;
          height: 100%;
          color: #fff;

          .circle{

             border: 0.1em solid grey;
             border-radius: 100%;
             height: 2em;
             width: 2em;
             text-align: center;
          }
        }
        .paragraph{
          text-align: left;
            width: 50%;
            height: 100%;
        }
      }
    }
  }

  .navbar{
     height: 20vh;
     flex-basis: 20vh;
  }


}
