.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-content{
    flex-grow: 1;
    text-align: center;
    .result-container {
      height: 100%;
      text-align: center;

      .result {
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        padding: 20px;

        .score {
          width: 50%;
          height: 100%;
        }
        .paragraph{
          text-align: left;
            width: 50%;
            height: 100%;
        }
      }
    }
  }


}
