.bottom-navbar{
  height: 20vh;
  display: flex;
  flex-direction: row;

  .app-info{
    width: 30%;
    text-align: left;
    padding: 20px;
  }
  ::ng-deep .start-test-form {
    flex-grow: 1;
    padding: 20px;

    .start-test{
      display: flex;
      flex-direction: row;
      button{
        //TODO: remove and put better solution
        margin-top:10px;
      }
    }
  }

  .ongoing-test{
     flex-grow: 1;
     padding: 20px;
  }
}
