.bottom-navbar{
  height: 20vh;
  display: flex;
  flex-direction: row;

  .app-info{
    width: 30%;
    text-align: left;

    padding: 20px;


  }
  .start-test-form {
    flex-grow: 1;
    padding: 20px;
  }
}
