<div class="testing-area-container">
  <mat-card class="typing-test-text">
    <mat-card-header>
      <mat-card-title>Type this text</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text">
       {{test.text}}
    </mat-card-content>
  </mat-card>

  <mat-card class="typing-test-input">
    <mat-card-header>
      <mat-card-title>Type below</mat-card-title>
    </mat-card-header>
    <mat-form-field class="test-textarea" appearance="fill">
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-card>
</div>
