<div class="testing-area-container">
  <mat-card class="typing-test-text">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis earum ea cumque nihil at? Ipsum, consequatur iste! Expedita dolorem harum iure inventore, rem veniam, repudiandae eveniet nostrum quisquam sunt laborum? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia natus id voluptatibus inventore vel, quia harum assumenda nam ut rerum, incidunt sint quasi doloremque dolorem totam voluptate quas magni iusto.</p>
  </mat-card>

  <mat-card class="typing-test-input">
    <mat-form-field class="test-textarea" appearance="fill">
      <textarea matInput></textarea>
    </mat-form-field>
  </mat-card>
</div>
